/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
.navbar {
  height: 95px;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 47%);
}

.navbar__logo {
  height: 77px;
  width: 144px;
}

/* You can override the default Infima variables here. */
:root {
  --white: #fff;
  --color-primary: #963dbd;
  --color-secondary: #e4a6e5;;
  --font-color-base: #403a60;
  
  --ifm-color-primary: var(--color-primary);;
  --ifm-color-secondary: var(--color-secondary);;
  --ifm-font-color-base: var(--color-font-color-base);
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 18px;
  --ifm-line-height-base: 1.5;
  --ifm-font-family-base: "Mulish", "Verdana", sans-serif;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button.button--secondary {
  color: var(--white);
}

.footer {
  background-image: url("../../static/img/background-website-1-01-01-scaled.jpeg");
  --ifm-footer-link-color: var(--white);
}

.hero {
  background-image: url("../../static/img/background-website-1-01-01-scaled.jpeg");
  color: var(--white);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: var(--color-secondary);;
  --ifm-font-color-base: var(--white);
  --ifm-background-color: var(--color-font-color-base);
  --ifm-background-surface-color: var(--color-font-color-base);
  
  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .footer__dark {
    --ifm-footer-background-color: transparent;
  }
}
