/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @font-face {
  font-family: Figtree;
  src: url(/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
  font-display: swap
}

.navbar {
  height: 95px;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 47%);
}

.navbar__logo {
  height: 77px;
  width: 144px;
}

img {
  border-radius: 7px;
}

table {
  width: 100%;
}

video {
  max-width: 100%;
}

/* You can override the default Infima variables here. */
:root {  
  --white: #fff;
  --color-primary: #963dbd;
  --color-primary-dark: #e4a6e5;;
  --font-color-base: #403a60;

  --ifm-color-primary: var(--color-primary);;
  --ifm-color-secondary: var(--color-primary);;
  --ifm-font-color-base: var(--font-color-base);
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 18px;
  --ifm-line-height-base: 1.5;
  --ifm-font-family-base: "Figtree", "Verdana", sans-serif;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 26px;
  height: 26px;
  display: flex;
  background: url("/img/icons/github_black.svg") no-repeat;
  background-size: 26px 26px;
  margin-top: 5px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button.button--secondary {
  color: var(--white);
}

.footer {
  background-image: url("../../static/img/background-website-1-01-01-scaled.jpeg");
  --ifm-footer-link-color: var(--white);
}

.hero {
  background-image: url("../../static/img/background-website-1-01-01-scaled.jpeg");
  color: var(--white);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: var(--color-primary-dark);;
  --ifm-font-color-base: var(--white);
  --ifm-background-color: var(--font-color-base);
  --ifm-background-surface-color: var(--font-color-base);
  
  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .footer__dark {
    --ifm-footer-background-color: transparent;
  }
}

/* Docs Rating Box */

.docsRating {
  padding: 16px 30px 16px 0px;
  min-height: 66px;
  margin-top: 42px;
  text-align: left;
  line-height: 32px;
  font-weight: 500;
  border-top: 1px solid var(--ifm-color-emphasis-300);

  svg {
    height: 1.5em;
    width: 1.5em;
    margin: 0 0 0 6px;

    &:hover,
    &:focus {
      cursor: pointer;
      fill: var(--ifm-color-primary);
    }
  }

  .i_thumbsup {
    fill: #56a211;
    transform: translateY(0.25em);
    margin-left: 12px;
  }

  .i_thumbsdown {
    fill: #e9430f;
    transform: scale(-1, -1) translateY(-0.25em);
  }
}
